wsdl/employee.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.parameta.com/employee-ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.parameta.com/employee-ws" targetNamespace="http://www.parameta.com/employee-ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.parameta.com/employee-ws">

    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="addEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="names" type="xs:string"/>
                <xs:element name="lastnames" type="xs:string"/>
                <xs:element name="documentType" type="xs:string"/>
                <xs:element name="documentNumber" type="xs:string"/>
                <xs:element name="dateOfBirth" type="xs:string"/>
                <xs:element name="dateOfJoiningTheCompany" type="xs:string"/>
                <xs:element name="position" type="xs:string"/>
                <xs:element name="salary" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="employeeInfo" type="tns:employeeInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="employeeInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="names" type="xs:string"/>
            <xs:element name="lastnames" type="xs:string"/>
            <xs:element name="documentType" type="xs:string"/>
            <xs:element name="documentNumber" type="xs:string"/>
            <xs:element name="dateOfBirth" type="xs:date"/>
            <xs:element name="dateOfJoiningTheCompany" type="xs:date"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addEmployeeRequest">
    <wsdl:part element="tns:addEmployeeRequest" name="addEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployeeResponse">
    <wsdl:part element="tns:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="addEmployee">
      <wsdl:input message="tns:addEmployeeRequest" name="addEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="addEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8080/soapws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>